<main role="main" class="container">
  <h1><span id="usuarioNuevo"></span></h1>
  <h1>Bienvenido: <span id="usuario"></span></h1>
  <br>
  <button class="btn btn-primary" id="Onoff" onclick="emitRandomLetter();">
    Inicar partida!
  </button>
  <br></br>
  <h1>La letra es: <span id="letra"></span></h1>
  {{!-- <form> --}}
    <div class="form-group">
      <label for="nombreInput">Nombre</label>
      <input type="text" class="form-control" id="nombreInput" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="colorInput">Color</label>
      <input type="text" class="form-control" id="colorInput" placeholder="Color">
    </div>
    <div class="form-group">
      <label for="frutoInput">Fruto</label>
      <input type="text" class="form-control" id="frutoInput" placeholder="Fruto">
    </div>
    {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
    <button class="btn btn-success" id="btB" onclick="emitEventToSocketIo();">
      Basta!
    </button>
  {{!-- </form> --}}
</main>

